@import "tailwindcss";

@theme inline {
  --color-aplast-blue: #0062ae;
  --color-aplast-light-blue: #b3ecff;
  --color-aplast-teal: #3ab394;
  --color-aplast-light-green: #99ffce;
  --color-aplast-navy: #03266c;
  --color-aplast-green-pale: #e1fff0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: white;
  color: #1a1a1a;
}
